
/* css by Koen : */

html {
    height: 100%;
}   

body {
    background-color: #DDD;
    height : auto;
   /* background: linear-gradient(to top, #c4c5c7 10%, #dcdddf 52%, #ebebeb 100%);*/
}

.content {
    min-height: auto;
}


.div1{
    min-height:80%;
}

.pageTitle {
    background-color: #8DC4ED;
    font-size: 25px;
    padding-left: 20px;
}

.customValidationSummary {
    background-color: #FCC;
    width: 450px ;
    border-style: inset;
    border-width: 1px;
    border-color: darkred;
}

.errorLabel {
    color: #F00;
    background-color: #FCC;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    align-content: center;
}

.customFrame1 {
    background-color: #FFF;
    color: #44A;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border-style: inset;
    border-width: 1px;
    border-color: darkgrey;
    border-radius: 6px;
}

th {
    background-color: #505678 
}

th a {
   display:block;
   color:antiquewhite;
}

th a:hover {
   display: block;
   color: aliceblue;
}

.text1 {
    color: #FFA500;
}


/*a{
    display : block;
}

.link1 {
    background-color: #88D;
    color: #DDD;
    height: 30px;
    width: 100px;
    padding-left: 20px;
    text-decoration: none;
    border-radius: 7px;
}

 .link1:hover {
    background-color: lightblue;
    color: black;
    border-style: inset;
    border-width: 1px;
    border-color: darkgrey;
    cursor: pointer;
}*/



